.containerPicker {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 95%;
    margin: auto;
  /*  max-width: 900px;*/
}

.image-picker {
    text-align: center;
    position: relative;
}

.image-picker img {
    max-width: 100%;
    border-radius: 8px;
    cursor: crosshair;
}

.drag-and-drop {
    border: 2px dashed #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #888;
    cursor: pointer;
}

.drag-and-drop.dragging {
    border-color: #666;
    background-color: #f9f9f9;
}

.magnifier {
    position: absolute;
    border: 3px solid #ddd;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: none;
    pointer-events: none;
}

.color-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-display {
    width: 100px;
    height: 100px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.color-values span {
    font-size: 18px;
    margin: 5px 0;
}

.copyable #hexValue, .copyable #rgbValue {
    cursor: pointer;
    color: #007bff; 
}
